- var _ = require('lodash')
- var sprintf = require('sprintf')

html
  head
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous")
    link(rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous")
    title 打卡群积分榜
  body
    .container
      h1 打卡群积分榜
      table.score-table.table.table-bordered.table-sm.table-hover
        tr
          th(colspan=2) Contest
          each contest in contests
            th(colspan=3)
              a(href='https://leetcode.com/contest/' + contest.titleSlug) #{contest.title}
        tr
          th(style='width:1%') #
          th(style='width:1%') Participants
          each contest,i in contests
            th(colspan=3) #{contest.players}(#{records.filter(r=>r.contests[i]).length})
        each record, i in records
          tr
            td #{i+1}
            td
              a.nickname(href='https://leetcode.com/'+record.id.toLowerCase()+'/' target='_blank')
                img(src='./avatars/'+record.id+'.png')
                span  
                span #{record.nickname}
            each contest in record.contests
              if contest
                td #{contest.ranking}
                td.col-stars
                  a(href=contest.score_url target='_blank')
                    each s in contest.solved
                      if s
                        .fa.fa-star
                      else
                        .fa.fa-star-o
                td #{sprintf("%.1f",contest.score)}
              else
                td
                td
                td

    style.
      h1 {
        text-align: center;
        margin: 1rem;
      }
      .score-table {
        text-align: center;
      }
      .score-table th {
      }
      .score-table td {
        min-height: 2rem;
        vertical-align: middle;
      }
      .score-table td:nth-child(2) {
        text-align: left;
        white-space: nowrap;
      }
      .score-table img {
        height: 24px;
        width: 24px;
      }
      .score-table .col-stars {
        white-space: nowrap;
      }
      a:hover {
        text-decoration: none !important;
      }
      .nickname {
        display: inline-block;
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
