- var _ = require('lodash')
- var sprintf = require('sprintf')

html
  head
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous")
    link(rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous")
    title 打卡群积分榜
  body
    .container
      h1 打卡群积分榜
      table.score-table.table.table-bordered.table-sm.table-hover
        tr
          th Contest
          each contest in contests
            th(colspan=3)
              a(href='https://leetcode.com/contest/' + contest.titleSlug) #{contest.title}
          th Score
        tr
          th Participators
          each contest in contests
            th(colspan=3) #{contest.players}
          th
        each record in records
          tr
            td
              a(href='https://leetcode.com/'+record.id.toLowerCase()+'/' target='_blank') #{record.nickname}
            each contest in record.contests
              if contest
                td #{contest.ranking}
                td
                  each s in contest.solved
                    if s
                      .fa.fa-star
                    else
                      .fa.fa-star-o
                td #{sprintf("%.1f",contest.score)}
              else
                td
                td
                td
            td #{sprintf("%.1f",record.score)}

    style.
      h1 {
        text-align: center;
        margin: 1rem;
      }
      .score-table {
        text-align: center;
      }
      .score-table th {
      }
      .score-table td {
        min-height: 2rem;
        vertical-align: middle;
      }
      a:hover {
        text-decoration: none !important;
      }
